* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #05001d;
    text-align: center;
    color: #ffffff;
}

.jeopardy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.jeopardy-heading {
    font-weight: 800;
    font-size: 5.5vw;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.buttons button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.buttons button:disabled {
    background-color: transparent;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
}

/*Registration*/
.registration-form {
    display: none;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.input-group {
    margin: 10px 0;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    margin: 10px 0;
}

.button-group button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.button-group button#cancelButton {
    background-color: #f00;
}

.button-group button:disabled {
    background-color: transparent;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
}
